lightning.ws www.lightning.ws {
    # Directory (in Docker container): /srv/www
    root www

    # Website
    markdown / {
        template template.html
    }
}

api.lightning.ws {
    # The container's internal port is required, which is 8080
    proxy /qr http://qr-code:8080
}
