# This Caddyfile is for local development only!
# It's not suitable for production!

localhost {
    # Directory (in Docker container): /srv/www
    root www

    # Website
    markdown / {
        template template.html
    }

    # API
    proxy /api http://api:8080 {
        without /api
    }

    tls self_signed
}
